* {
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

ul {
    list-style-position: inside;    
    text-align: center;
}

img {
    height: auto;
    width: 200;
}

ol {
    list-style-position: inside;    
    text-align: center;
}
